/* styles.css */
/* universal selector - Applies to whole document */
body {
	font-family: sans-serif;
	background: white;
	user-select: none;
}
/* To center everything in game */
.game__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 40px;
	margin: auto;
	height: 80vh;
	width: 70vw;
	border: 3px solid black;
	color: black;
	background-color: white;
}

/* Title of the game */
.game__title {
	position: absolute;
	top: 30px;
	font-size: 4rem;
	z-index: 2;
}

/* Score Board */
.game__score {
	position: absolute;
	top: 125px;
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	z-index: 1;
}

.score__player {
	color: green;
}

.score__CPU {
	color: red;
}

/* Score */
.game__player-score-count,.game__cpu-score-count {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}
.game__computerChoice {
	position: absolute;
	bottom: 70px;
}


/* displaying three buttons in one line */
.game__moveset-container {
	text-align: center;
	margin-top: 150px;
}

.game__options {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* Styling on all three buttons */
button {
	margin: 40px 20px 0 20px;
	padding: 1.5rem;
	width: 150px;
	background-color: white;
	border-color: black;
	cursor: pointer;
}

button:hover {
	background-color: black;
	color: white;
}

.game__move {
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.game__reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: white;
	outline: none;
	border: 2px solid black;
	cursor: pointer;
	text-align: center;
}

.game__reload:hover {
	text-align: center;
	background-color: black;
	color: white;
}

.game__reload-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game__result {
	width: 300px;
	margin-top: 20px;
	font-size: 1.2rem;
	text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 1025px)
{
	.game__title {
		position: absolute;
		max-width: 100%;
		font-size: 6vw;
	}
	.game__score {
		position: absolute;
		top: 100px;
		width: 100vw;
	}
	
	.game__options {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		". . ."
		". . .";
	}
	
	.game__options button {
		margin: 40px 0;
		width: 100px;
	}
	
}